.body {
    font-family: sans-serif;
}

.main_wrapper {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100%;
}

.more_details {
    grid-column: span 2;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    background-color: gray;
    color: white;
}

.header {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "header_nav header_logo";
    max-height: 108px;
    background-color: #1D4189;
    align-items: center;
}

.header_logo {
    grid-area: header_logo;
    justify-self: center;
    background-color: white;
}

.header_nav {
    grid-area: header_nav;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.header_nav_link {
    margin: auto;
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
}

.wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.main_event {
    background-color: #AC944D;
    max-width: 770px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0 50px;
}

.main_event img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_event p {
    margin: 10px 0 0; 
}

.login_block {
    padding: 10px 10px 10px 0;
    width: 380px;
    background-color: white;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1 fr;
    border: 2px groove gray;
    border-radius: 0;
}

.login_block h2{
    margin: 0 10px;
    background-color: gray;
}

.login_block form {
    padding-right: 150px;
    margin-bottom: 20px;
}

.login_block input {
    margin: 10px;
}

.login_block form a {
    display: block;
    margin: 0 10px;
    color: black;
}

.tournamet_table {
    text-align: center;
}

.tournamet_table a {
    display: block;
    margin: 10px 0;
    text-align: center;
    color: black;
}

.tournamet_table td {
    border: 1px solid black;
}

.tournamet_table tr {
    background-color: gray;
}

.news {
    display: grid;
    max-width: 770px;
    grid-template-columns: 1fr 1fr;
    max-width: 770px;
    gap: 10px;
    margin-bottom: 50px;
}

.news p {
    margin: 0;
}

.news .item {
    background-color: #AC944D;
    box-sizing: border-box;
    padding: 20px;
}


.news img {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.team {
    max-width: 770px;
    margin-bottom: 50px;
}

.match_center {
    display: grid;
    max-width: 770px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.match_center p {
    margin: 0;
}

.match_center .item{
    background-color: #AC944D;
    box-sizing: border-box;
    padding: 20px;
}

.match_center img {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.footer {
    background-color: #1D4189;
    box-sizing: border-box;
    padding: 20px;
}

.footer > p{
    max-width: 44%;
    margin: 0 auto 10px;
    font-size: 25px;
    color: white;
}

.footer .policies {
    max-width: 44%;
    margin: 0 auto 10px;
    padding: 0;
}

.footer .policies a{
    color: white;
    font-size: 25px;
}

.footer .policies li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 50%;
}

.footer .policies li:last-child {
    margin-left: 30px;
    width: 41%;
    text-align: right;
}

.footer .follow {
    max-width: 44%;
    margin: 0 auto;
}

.footer .follow p {
    display: inline-block;
    font-size: 25px;
    color: white;
    width: 50%;
    vertical-align: middle;
}

.footer .follow .social_network {
    display: inline-block;
    width: 48%;
    text-align: right;
    vertical-align: middle;
}

.footer .follow .social_network a {
    display: inline-block;
}

.footer .follow .social_network img{
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 20px;
}